<TABLE>
<TR  bgcolor="#C0C0C0">
<TH>Hierarchy</TH>
<TH>Input</TH>
<TH>Constant Input</TH>
<TH>Unused Input</TH>
<TH>Floating Input</TH>
<TH>Output</TH>
<TH>Constant Output</TH>
<TH>Unused Output</TH>
<TH>Floating Output</TH>
<TH>Bidir</TH>
<TH>Constant Bidir</TH>
<TH>Unused Bidir</TH>
<TH>Input only Bidir</TH>
<TH>Output only Bidir</TH>
</TR>
<TR >
<TD >nois2_soc|rst_controller_002|alt_rst_req_sync_uq1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|rst_controller_002|alt_rst_sync_uq1</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|rst_controller_002</TD>
<TD >33</TD>
<TD >30</TD>
<TD >0</TD>
<TD >30</TD>
<TD >1</TD>
<TD >30</TD>
<TD >30</TD>
<TD >30</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|rst_controller_001|alt_rst_req_sync_uq1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|rst_controller_001|alt_rst_sync_uq1</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|rst_controller_001</TD>
<TD >33</TD>
<TD >30</TD>
<TD >0</TD>
<TD >30</TD>
<TD >2</TD>
<TD >30</TD>
<TD >30</TD>
<TD >30</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|rst_controller|alt_rst_req_sync_uq1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|rst_controller|alt_rst_sync_uq1</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|rst_controller</TD>
<TD >33</TD>
<TD >31</TD>
<TD >0</TD>
<TD >31</TD>
<TD >1</TD>
<TD >31</TD>
<TD >31</TD>
<TD >31</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|irq_mapper</TD>
<TD >5</TD>
<TD >29</TD>
<TD >2</TD>
<TD >29</TD>
<TD >32</TD>
<TD >29</TD>
<TD >29</TD>
<TD >29</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|avalon_st_adapter_016|error_adapter_0</TD>
<TD >38</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >37</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|avalon_st_adapter_016</TD>
<TD >38</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >37</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|avalon_st_adapter_015|error_adapter_0</TD>
<TD >38</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >37</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|avalon_st_adapter_015</TD>
<TD >38</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >37</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|avalon_st_adapter_014|error_adapter_0</TD>
<TD >38</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >37</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|avalon_st_adapter_014</TD>
<TD >38</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >37</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|avalon_st_adapter_013|error_adapter_0</TD>
<TD >38</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >37</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|avalon_st_adapter_013</TD>
<TD >38</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >37</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|avalon_st_adapter_012|error_adapter_0</TD>
<TD >38</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >37</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|avalon_st_adapter_012</TD>
<TD >38</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >37</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|avalon_st_adapter_011|error_adapter_0</TD>
<TD >38</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >37</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|avalon_st_adapter_011</TD>
<TD >38</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >37</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|avalon_st_adapter_010|error_adapter_0</TD>
<TD >38</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >37</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|avalon_st_adapter_010</TD>
<TD >38</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >37</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|avalon_st_adapter_009|error_adapter_0</TD>
<TD >38</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >37</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|avalon_st_adapter_009</TD>
<TD >38</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >37</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|avalon_st_adapter_008|error_adapter_0</TD>
<TD >38</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >37</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|avalon_st_adapter_008</TD>
<TD >38</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >37</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|avalon_st_adapter_007|error_adapter_0</TD>
<TD >38</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >37</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|avalon_st_adapter_007</TD>
<TD >38</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >37</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|avalon_st_adapter_006|error_adapter_0</TD>
<TD >38</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >37</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|avalon_st_adapter_006</TD>
<TD >38</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >37</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|avalon_st_adapter_005|error_adapter_0</TD>
<TD >22</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >21</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|avalon_st_adapter_005</TD>
<TD >22</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >21</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|avalon_st_adapter_004|error_adapter_0</TD>
<TD >38</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >37</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|avalon_st_adapter_004</TD>
<TD >38</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >37</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|avalon_st_adapter_003|error_adapter_0</TD>
<TD >38</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >37</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|avalon_st_adapter_003</TD>
<TD >38</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >37</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|avalon_st_adapter_002|error_adapter_0</TD>
<TD >38</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >37</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|avalon_st_adapter_002</TD>
<TD >38</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >37</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|avalon_st_adapter_001|error_adapter_0</TD>
<TD >38</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >37</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|avalon_st_adapter_001</TD>
<TD >38</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >37</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|avalon_st_adapter|error_adapter_0</TD>
<TD >38</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >37</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|avalon_st_adapter</TD>
<TD >38</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >37</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|crosser_003|clock_xer|out_to_in_synchronizer</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|crosser_003|clock_xer|in_to_out_synchronizer</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|crosser_003|clock_xer</TD>
<TD >133</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >129</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|crosser_003</TD>
<TD >135</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >129</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|crosser_002|clock_xer|out_to_in_synchronizer</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|crosser_002|clock_xer|in_to_out_synchronizer</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|crosser_002|clock_xer</TD>
<TD >133</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >129</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|crosser_002</TD>
<TD >135</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >129</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|crosser_001|clock_xer|out_to_in_synchronizer</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|crosser_001|clock_xer|in_to_out_synchronizer</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|crosser_001|clock_xer</TD>
<TD >133</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >129</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|crosser_001</TD>
<TD >135</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >129</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|crosser|clock_xer|out_to_in_synchronizer</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|crosser|clock_xer|in_to_out_synchronizer</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|crosser|clock_xer</TD>
<TD >133</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >129</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|crosser</TD>
<TD >135</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >129</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|sdram_s1_cmd_width_adapter</TD>
<TD >134</TD>
<TD >3</TD>
<TD >0</TD>
<TD >3</TD>
<TD >111</TD>
<TD >3</TD>
<TD >3</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|sdram_s1_rsp_width_adapter|uncompressor</TD>
<TD >44</TD>
<TD >4</TD>
<TD >0</TD>
<TD >4</TD>
<TD >35</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|sdram_s1_rsp_width_adapter</TD>
<TD >116</TD>
<TD >3</TD>
<TD >0</TD>
<TD >3</TD>
<TD >129</TD>
<TD >3</TD>
<TD >3</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|rsp_mux_001|arb|adder</TD>
<TD >20</TD>
<TD >10</TD>
<TD >0</TD>
<TD >10</TD>
<TD >10</TD>
<TD >10</TD>
<TD >10</TD>
<TD >10</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|rsp_mux_001|arb</TD>
<TD >9</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|rsp_mux_001</TD>
<TD >643</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >133</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|rsp_mux|arb|adder</TD>
<TD >68</TD>
<TD >34</TD>
<TD >0</TD>
<TD >34</TD>
<TD >34</TD>
<TD >34</TD>
<TD >34</TD>
<TD >34</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|rsp_mux|arb</TD>
<TD >21</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >17</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|rsp_mux</TD>
<TD >2179</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >145</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|rsp_demux_016</TD>
<TD >131</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >129</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|rsp_demux_015</TD>
<TD >131</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >129</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|rsp_demux_014</TD>
<TD >131</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >129</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|rsp_demux_013</TD>
<TD >131</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >129</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|rsp_demux_012</TD>
<TD >131</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >129</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|rsp_demux_011</TD>
<TD >131</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >129</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|rsp_demux_010</TD>
<TD >131</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >129</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|rsp_demux_009</TD>
<TD >131</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >129</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|rsp_demux_008</TD>
<TD >131</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >129</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|rsp_demux_007</TD>
<TD >131</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >129</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|rsp_demux_006</TD>
<TD >132</TD>
<TD >4</TD>
<TD >2</TD>
<TD >4</TD>
<TD >257</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|rsp_demux_005</TD>
<TD >132</TD>
<TD >4</TD>
<TD >2</TD>
<TD >4</TD>
<TD >257</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|rsp_demux_004</TD>
<TD >132</TD>
<TD >4</TD>
<TD >2</TD>
<TD >4</TD>
<TD >257</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|rsp_demux_003</TD>
<TD >131</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >129</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|rsp_demux_002</TD>
<TD >132</TD>
<TD >4</TD>
<TD >2</TD>
<TD >4</TD>
<TD >257</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|rsp_demux_001</TD>
<TD >132</TD>
<TD >4</TD>
<TD >2</TD>
<TD >4</TD>
<TD >257</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|rsp_demux</TD>
<TD >131</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >129</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|cmd_mux_016</TD>
<TD >131</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >129</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|cmd_mux_015</TD>
<TD >131</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >129</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|cmd_mux_014</TD>
<TD >131</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >129</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|cmd_mux_013</TD>
<TD >131</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >129</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|cmd_mux_012</TD>
<TD >131</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >129</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|cmd_mux_011</TD>
<TD >131</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >129</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|cmd_mux_010</TD>
<TD >131</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >129</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|cmd_mux_009</TD>
<TD >131</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >129</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|cmd_mux_008</TD>
<TD >131</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >129</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|cmd_mux_007</TD>
<TD >131</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >129</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|cmd_mux_006|arb|adder</TD>
<TD >8</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >4</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|cmd_mux_006|arb</TD>
<TD >6</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|cmd_mux_006</TD>
<TD >259</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >130</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|cmd_mux_005|arb|adder</TD>
<TD >8</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >4</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|cmd_mux_005|arb</TD>
<TD >6</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|cmd_mux_005</TD>
<TD >259</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >130</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|cmd_mux_004|arb|adder</TD>
<TD >8</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >4</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|cmd_mux_004|arb</TD>
<TD >6</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|cmd_mux_004</TD>
<TD >259</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >130</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|cmd_mux_003</TD>
<TD >131</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >129</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|cmd_mux_002|arb|adder</TD>
<TD >8</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >4</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|cmd_mux_002|arb</TD>
<TD >6</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|cmd_mux_002</TD>
<TD >259</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >130</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|cmd_mux_001|arb|adder</TD>
<TD >8</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >4</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|cmd_mux_001|arb</TD>
<TD >6</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|cmd_mux_001</TD>
<TD >259</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >130</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|cmd_mux</TD>
<TD >131</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >129</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|cmd_demux_001</TD>
<TD >135</TD>
<TD >25</TD>
<TD >2</TD>
<TD >25</TD>
<TD >641</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|cmd_demux</TD>
<TD >147</TD>
<TD >289</TD>
<TD >2</TD>
<TD >289</TD>
<TD >2177</TD>
<TD >289</TD>
<TD >289</TD>
<TD >289</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|sdram_s1_burst_adapter|altera_merlin_burst_adapter_uncompressed_only.burst_adapter</TD>
<TD >113</TD>
<TD >3</TD>
<TD >5</TD>
<TD >3</TD>
<TD >111</TD>
<TD >3</TD>
<TD >3</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|sdram_s1_burst_adapter</TD>
<TD >113</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >111</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|router_018|the_default_decode</TD>
<TD >0</TD>
<TD >17</TD>
<TD >0</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|router_018</TD>
<TD >114</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >129</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|router_017|the_default_decode</TD>
<TD >0</TD>
<TD >17</TD>
<TD >0</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|router_017</TD>
<TD >114</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >129</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|router_016|the_default_decode</TD>
<TD >0</TD>
<TD >17</TD>
<TD >0</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|router_016</TD>
<TD >114</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >129</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|router_015|the_default_decode</TD>
<TD >0</TD>
<TD >17</TD>
<TD >0</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|router_015</TD>
<TD >114</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >129</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|router_014|the_default_decode</TD>
<TD >0</TD>
<TD >17</TD>
<TD >0</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|router_014</TD>
<TD >114</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >129</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|router_013|the_default_decode</TD>
<TD >0</TD>
<TD >17</TD>
<TD >0</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|router_013</TD>
<TD >114</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >129</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|router_012|the_default_decode</TD>
<TD >0</TD>
<TD >17</TD>
<TD >0</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|router_012</TD>
<TD >114</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >129</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|router_011|the_default_decode</TD>
<TD >0</TD>
<TD >17</TD>
<TD >0</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|router_011</TD>
<TD >114</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >129</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|router_010|the_default_decode</TD>
<TD >0</TD>
<TD >17</TD>
<TD >0</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|router_010</TD>
<TD >114</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >129</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|router_009|the_default_decode</TD>
<TD >0</TD>
<TD >17</TD>
<TD >0</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|router_009</TD>
<TD >114</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >129</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|router_008|the_default_decode</TD>
<TD >0</TD>
<TD >17</TD>
<TD >0</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|router_008</TD>
<TD >114</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >129</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|router_007|the_default_decode</TD>
<TD >0</TD>
<TD >17</TD>
<TD >0</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|router_007</TD>
<TD >96</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >111</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|router_006|the_default_decode</TD>
<TD >0</TD>
<TD >17</TD>
<TD >0</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|router_006</TD>
<TD >114</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >129</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|router_005|the_default_decode</TD>
<TD >0</TD>
<TD >17</TD>
<TD >0</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|router_005</TD>
<TD >114</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >129</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|router_004|the_default_decode</TD>
<TD >0</TD>
<TD >17</TD>
<TD >0</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|router_004</TD>
<TD >114</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >129</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|router_003|the_default_decode</TD>
<TD >0</TD>
<TD >17</TD>
<TD >0</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|router_003</TD>
<TD >114</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >129</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|router_002|the_default_decode</TD>
<TD >0</TD>
<TD >17</TD>
<TD >0</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|router_002</TD>
<TD >114</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >129</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|router_001|the_default_decode</TD>
<TD >0</TD>
<TD >22</TD>
<TD >0</TD>
<TD >22</TD>
<TD >22</TD>
<TD >22</TD>
<TD >22</TD>
<TD >22</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|router_001</TD>
<TD >114</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >129</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|router|the_default_decode</TD>
<TD >0</TD>
<TD >22</TD>
<TD >0</TD>
<TD >22</TD>
<TD >22</TD>
<TD >22</TD>
<TD >22</TD>
<TD >22</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|router</TD>
<TD >114</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >129</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|spi_0_spi_control_port_agent_rsp_fifo</TD>
<TD >154</TD>
<TD >39</TD>
<TD >0</TD>
<TD >39</TD>
<TD >113</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|spi_0_spi_control_port_agent|uncompressor</TD>
<TD >44</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >42</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|spi_0_spi_control_port_agent</TD>
<TD >318</TD>
<TD >39</TD>
<TD >54</TD>
<TD >39</TD>
<TD >332</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|joystick_s1_agent_rsp_fifo</TD>
<TD >154</TD>
<TD >39</TD>
<TD >0</TD>
<TD >39</TD>
<TD >113</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|joystick_s1_agent|uncompressor</TD>
<TD >44</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >42</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|joystick_s1_agent</TD>
<TD >318</TD>
<TD >39</TD>
<TD >54</TD>
<TD >39</TD>
<TD >332</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|led_s1_agent_rsp_fifo</TD>
<TD >154</TD>
<TD >39</TD>
<TD >0</TD>
<TD >39</TD>
<TD >113</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|led_s1_agent|uncompressor</TD>
<TD >44</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >42</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|led_s1_agent</TD>
<TD >318</TD>
<TD >39</TD>
<TD >54</TD>
<TD >39</TD>
<TD >332</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|hex_s1_agent_rsp_fifo</TD>
<TD >154</TD>
<TD >39</TD>
<TD >0</TD>
<TD >39</TD>
<TD >113</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|hex_s1_agent|uncompressor</TD>
<TD >44</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >42</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|hex_s1_agent</TD>
<TD >318</TD>
<TD >39</TD>
<TD >54</TD>
<TD >39</TD>
<TD >332</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|sw_s1_agent_rsp_fifo</TD>
<TD >154</TD>
<TD >39</TD>
<TD >0</TD>
<TD >39</TD>
<TD >113</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|sw_s1_agent|uncompressor</TD>
<TD >44</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >42</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|sw_s1_agent</TD>
<TD >318</TD>
<TD >39</TD>
<TD >54</TD>
<TD >39</TD>
<TD >332</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|key_code_s1_agent_rsp_fifo</TD>
<TD >154</TD>
<TD >39</TD>
<TD >0</TD>
<TD >39</TD>
<TD >113</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|key_code_s1_agent|uncompressor</TD>
<TD >44</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >42</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|key_code_s1_agent</TD>
<TD >318</TD>
<TD >39</TD>
<TD >54</TD>
<TD >39</TD>
<TD >332</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|usb_rst_s1_agent_rsp_fifo</TD>
<TD >154</TD>
<TD >39</TD>
<TD >0</TD>
<TD >39</TD>
<TD >113</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|usb_rst_s1_agent|uncompressor</TD>
<TD >44</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >42</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|usb_rst_s1_agent</TD>
<TD >318</TD>
<TD >39</TD>
<TD >54</TD>
<TD >39</TD>
<TD >332</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|usb_gpx_s1_agent_rsp_fifo</TD>
<TD >154</TD>
<TD >39</TD>
<TD >0</TD>
<TD >39</TD>
<TD >113</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|usb_gpx_s1_agent|uncompressor</TD>
<TD >44</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >42</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|usb_gpx_s1_agent</TD>
<TD >318</TD>
<TD >39</TD>
<TD >54</TD>
<TD >39</TD>
<TD >332</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|usb_irq_s1_agent_rsp_fifo</TD>
<TD >154</TD>
<TD >39</TD>
<TD >0</TD>
<TD >39</TD>
<TD >113</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|usb_irq_s1_agent|uncompressor</TD>
<TD >44</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >42</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|usb_irq_s1_agent</TD>
<TD >318</TD>
<TD >39</TD>
<TD >54</TD>
<TD >39</TD>
<TD >332</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|timer_0_s1_agent_rsp_fifo</TD>
<TD >154</TD>
<TD >39</TD>
<TD >0</TD>
<TD >39</TD>
<TD >113</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|timer_0_s1_agent|uncompressor</TD>
<TD >44</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >42</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|timer_0_s1_agent</TD>
<TD >318</TD>
<TD >39</TD>
<TD >54</TD>
<TD >39</TD>
<TD >332</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|key_s1_agent_rsp_fifo</TD>
<TD >154</TD>
<TD >39</TD>
<TD >0</TD>
<TD >39</TD>
<TD >113</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|key_s1_agent|uncompressor</TD>
<TD >44</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >42</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|key_s1_agent</TD>
<TD >318</TD>
<TD >39</TD>
<TD >54</TD>
<TD >39</TD>
<TD >332</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|sdram_s1_agent_rdata_fifo</TD>
<TD >63</TD>
<TD >41</TD>
<TD >0</TD>
<TD >41</TD>
<TD >20</TD>
<TD >41</TD>
<TD >41</TD>
<TD >41</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|sdram_s1_agent_rsp_fifo</TD>
<TD >136</TD>
<TD >39</TD>
<TD >0</TD>
<TD >39</TD>
<TD >95</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|sdram_s1_agent|uncompressor</TD>
<TD >44</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >42</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|sdram_s1_agent</TD>
<TD >250</TD>
<TD >22</TD>
<TD >38</TD>
<TD >22</TD>
<TD >261</TD>
<TD >22</TD>
<TD >22</TD>
<TD >22</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|sdram_pll_pll_slave_agent_rsp_fifo</TD>
<TD >154</TD>
<TD >39</TD>
<TD >0</TD>
<TD >39</TD>
<TD >113</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|sdram_pll_pll_slave_agent|uncompressor</TD>
<TD >44</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >42</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|sdram_pll_pll_slave_agent</TD>
<TD >318</TD>
<TD >39</TD>
<TD >54</TD>
<TD >39</TD>
<TD >332</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|graphics_graphics_agent_rsp_fifo</TD>
<TD >154</TD>
<TD >39</TD>
<TD >0</TD>
<TD >39</TD>
<TD >113</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|graphics_graphics_agent|uncompressor</TD>
<TD >44</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >42</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|graphics_graphics_agent</TD>
<TD >318</TD>
<TD >39</TD>
<TD >54</TD>
<TD >39</TD>
<TD >332</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|nios2_gen2_0_debug_mem_slave_agent_rsp_fifo</TD>
<TD >154</TD>
<TD >39</TD>
<TD >0</TD>
<TD >39</TD>
<TD >113</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|nios2_gen2_0_debug_mem_slave_agent|uncompressor</TD>
<TD >44</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >42</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|nios2_gen2_0_debug_mem_slave_agent</TD>
<TD >318</TD>
<TD >39</TD>
<TD >54</TD>
<TD >39</TD>
<TD >332</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|sysid_qsys_0_control_slave_agent_rsp_fifo</TD>
<TD >154</TD>
<TD >39</TD>
<TD >0</TD>
<TD >39</TD>
<TD >113</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|sysid_qsys_0_control_slave_agent|uncompressor</TD>
<TD >44</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >42</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|sysid_qsys_0_control_slave_agent</TD>
<TD >318</TD>
<TD >39</TD>
<TD >54</TD>
<TD >39</TD>
<TD >332</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|jtag_uart_0_avalon_jtag_slave_agent_rsp_fifo</TD>
<TD >154</TD>
<TD >39</TD>
<TD >0</TD>
<TD >39</TD>
<TD >113</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|jtag_uart_0_avalon_jtag_slave_agent|uncompressor</TD>
<TD >44</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >42</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|jtag_uart_0_avalon_jtag_slave_agent</TD>
<TD >318</TD>
<TD >39</TD>
<TD >54</TD>
<TD >39</TD>
<TD >332</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|nios2_gen2_0_instruction_master_agent</TD>
<TD >202</TD>
<TD >41</TD>
<TD >97</TD>
<TD >41</TD>
<TD >146</TD>
<TD >41</TD>
<TD >41</TD>
<TD >41</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|nios2_gen2_0_data_master_agent</TD>
<TD >202</TD>
<TD >41</TD>
<TD >97</TD>
<TD >41</TD>
<TD >146</TD>
<TD >41</TD>
<TD >41</TD>
<TD >41</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|spi_0_spi_control_port_translator</TD>
<TD >95</TD>
<TD >22</TD>
<TD >44</TD>
<TD >22</TD>
<TD >56</TD>
<TD >22</TD>
<TD >22</TD>
<TD >22</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|joystick_s1_translator</TD>
<TD >111</TD>
<TD >6</TD>
<TD >29</TD>
<TD >6</TD>
<TD >36</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|led_s1_translator</TD>
<TD >111</TD>
<TD >6</TD>
<TD >29</TD>
<TD >6</TD>
<TD >70</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|hex_s1_translator</TD>
<TD >111</TD>
<TD >6</TD>
<TD >29</TD>
<TD >6</TD>
<TD >70</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|sw_s1_translator</TD>
<TD >111</TD>
<TD >6</TD>
<TD >29</TD>
<TD >6</TD>
<TD >36</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|key_code_s1_translator</TD>
<TD >111</TD>
<TD >6</TD>
<TD >29</TD>
<TD >6</TD>
<TD >70</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|usb_rst_s1_translator</TD>
<TD >111</TD>
<TD >6</TD>
<TD >29</TD>
<TD >6</TD>
<TD >70</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|usb_gpx_s1_translator</TD>
<TD >111</TD>
<TD >6</TD>
<TD >29</TD>
<TD >6</TD>
<TD >36</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|usb_irq_s1_translator</TD>
<TD >111</TD>
<TD >6</TD>
<TD >29</TD>
<TD >6</TD>
<TD >36</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|timer_0_s1_translator</TD>
<TD >95</TD>
<TD >22</TD>
<TD >43</TD>
<TD >22</TD>
<TD >56</TD>
<TD >22</TD>
<TD >22</TD>
<TD >22</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|key_s1_translator</TD>
<TD >111</TD>
<TD >6</TD>
<TD >29</TD>
<TD >6</TD>
<TD >36</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|sdram_s1_translator</TD>
<TD >76</TD>
<TD >4</TD>
<TD >3</TD>
<TD >4</TD>
<TD >64</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|sdram_pll_pll_slave_translator</TD>
<TD >111</TD>
<TD >6</TD>
<TD >26</TD>
<TD >6</TD>
<TD >70</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|graphics_graphics_translator</TD>
<TD >111</TD>
<TD >38</TD>
<TD >18</TD>
<TD >38</TD>
<TD >78</TD>
<TD >38</TD>
<TD >38</TD>
<TD >38</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|nios2_gen2_0_debug_mem_slave_translator</TD>
<TD >111</TD>
<TD >5</TD>
<TD >19</TD>
<TD >5</TD>
<TD >82</TD>
<TD >5</TD>
<TD >5</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|sysid_qsys_0_control_slave_translator</TD>
<TD >111</TD>
<TD >6</TD>
<TD >27</TD>
<TD >6</TD>
<TD >35</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|jtag_uart_0_avalon_jtag_slave_translator</TD>
<TD >111</TD>
<TD >5</TD>
<TD >30</TD>
<TD >5</TD>
<TD >70</TD>
<TD >5</TD>
<TD >5</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|nios2_gen2_0_instruction_master_translator</TD>
<TD >112</TD>
<TD >51</TD>
<TD >0</TD>
<TD >51</TD>
<TD >104</TD>
<TD >51</TD>
<TD >51</TD>
<TD >51</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0|nios2_gen2_0_data_master_translator</TD>
<TD >112</TD>
<TD >12</TD>
<TD >0</TD>
<TD >12</TD>
<TD >104</TD>
<TD >12</TD>
<TD >12</TD>
<TD >12</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|mm_interconnect_0</TD>
<TD >569</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >475</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|usb_rst</TD>
<TD >38</TD>
<TD >31</TD>
<TD >31</TD>
<TD >31</TD>
<TD >33</TD>
<TD >31</TD>
<TD >31</TD>
<TD >31</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|usb_irq</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|usb_gpx</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|timer_0</TD>
<TD >24</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >17</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|sysid_qsys_0</TD>
<TD >3</TD>
<TD >17</TD>
<TD >2</TD>
<TD >17</TD>
<TD >32</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|sw</TD>
<TD >14</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|spi_0</TD>
<TD >25</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >20</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|sdram_pll|sd1</TD>
<TD >3</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >6</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|sdram_pll|stdsync2|dffpipe3</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|sdram_pll|stdsync2</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|sdram_pll</TD>
<TD >48</TD>
<TD >40</TD>
<TD >30</TD>
<TD >40</TD>
<TD >37</TD>
<TD >40</TD>
<TD >40</TD>
<TD >40</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|sdram|the_soc_sdram_input_efifo_module</TD>
<TD >48</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >48</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|sdram</TD>
<TD >48</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >40</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|nios2_gen2_0|cpu|the_soc_nios2_gen2_0_cpu_nios2_oci|the_soc_nios2_gen2_0_cpu_debug_slave_wrapper|the_soc_nios2_gen2_0_cpu_debug_slave_sysclk</TD>
<TD >43</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >48</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|nios2_gen2_0|cpu|the_soc_nios2_gen2_0_cpu_nios2_oci|the_soc_nios2_gen2_0_cpu_debug_slave_wrapper|the_soc_nios2_gen2_0_cpu_debug_slave_tck</TD>
<TD >130</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >43</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|nios2_gen2_0|cpu|the_soc_nios2_gen2_0_cpu_nios2_oci|the_soc_nios2_gen2_0_cpu_debug_slave_wrapper</TD>
<TD >123</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >50</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|nios2_gen2_0|cpu|the_soc_nios2_gen2_0_cpu_nios2_oci|the_soc_nios2_gen2_0_cpu_nios2_ocimem|soc_nios2_gen2_0_cpu_ociram_sp_ram|the_altsyncram|auto_generated</TD>
<TD >47</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|nios2_gen2_0|cpu|the_soc_nios2_gen2_0_cpu_nios2_oci|the_soc_nios2_gen2_0_cpu_nios2_ocimem|soc_nios2_gen2_0_cpu_ociram_sp_ram</TD>
<TD >47</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|nios2_gen2_0|cpu|the_soc_nios2_gen2_0_cpu_nios2_oci|the_soc_nios2_gen2_0_cpu_nios2_ocimem</TD>
<TD >92</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >65</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|nios2_gen2_0|cpu|the_soc_nios2_gen2_0_cpu_nios2_oci|the_soc_nios2_gen2_0_cpu_nios2_avalon_reg</TD>
<TD >48</TD>
<TD >0</TD>
<TD >28</TD>
<TD >0</TD>
<TD >68</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|nios2_gen2_0|cpu|the_soc_nios2_gen2_0_cpu_nios2_oci|the_soc_nios2_gen2_0_cpu_nios2_oci_im</TD>
<TD >54</TD>
<TD >38</TD>
<TD >51</TD>
<TD >38</TD>
<TD >47</TD>
<TD >38</TD>
<TD >38</TD>
<TD >38</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|nios2_gen2_0|cpu|the_soc_nios2_gen2_0_cpu_nios2_oci|the_soc_nios2_gen2_0_cpu_nios2_oci_pib</TD>
<TD >0</TD>
<TD >36</TD>
<TD >0</TD>
<TD >36</TD>
<TD >36</TD>
<TD >36</TD>
<TD >36</TD>
<TD >36</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|nios2_gen2_0|cpu|the_soc_nios2_gen2_0_cpu_nios2_oci|the_soc_nios2_gen2_0_cpu_nios2_oci_fifo|the_soc_nios2_gen2_0_cpu_nios2_oci_fifo_cnt_inc</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|nios2_gen2_0|cpu|the_soc_nios2_gen2_0_cpu_nios2_oci|the_soc_nios2_gen2_0_cpu_nios2_oci_fifo|the_soc_nios2_gen2_0_cpu_nios2_oci_fifo_wrptr_inc</TD>
<TD >4</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >4</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|nios2_gen2_0|cpu|the_soc_nios2_gen2_0_cpu_nios2_oci|the_soc_nios2_gen2_0_cpu_nios2_oci_fifo|the_soc_nios2_gen2_0_cpu_nios2_oci_compute_input_tm_cnt</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|nios2_gen2_0|cpu|the_soc_nios2_gen2_0_cpu_nios2_oci|the_soc_nios2_gen2_0_cpu_nios2_oci_fifo</TD>
<TD >115</TD>
<TD >0</TD>
<TD >65</TD>
<TD >0</TD>
<TD >36</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|nios2_gen2_0|cpu|the_soc_nios2_gen2_0_cpu_nios2_oci|the_soc_nios2_gen2_0_cpu_nios2_oci_dtrace|soc_nios2_gen2_0_cpu_nios2_oci_trc_ctrl_td_mode</TD>
<TD >9</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|nios2_gen2_0|cpu|the_soc_nios2_gen2_0_cpu_nios2_oci|the_soc_nios2_gen2_0_cpu_nios2_oci_dtrace</TD>
<TD >113</TD>
<TD >0</TD>
<TD >102</TD>
<TD >0</TD>
<TD >72</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|nios2_gen2_0|cpu|the_soc_nios2_gen2_0_cpu_nios2_oci|the_soc_nios2_gen2_0_cpu_nios2_oci_itrace</TD>
<TD >24</TD>
<TD >53</TD>
<TD >24</TD>
<TD >53</TD>
<TD >53</TD>
<TD >53</TD>
<TD >53</TD>
<TD >53</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|nios2_gen2_0|cpu|the_soc_nios2_gen2_0_cpu_nios2_oci|the_soc_nios2_gen2_0_cpu_nios2_oci_dbrk</TD>
<TD >98</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >102</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|nios2_gen2_0|cpu|the_soc_nios2_gen2_0_cpu_nios2_oci|the_soc_nios2_gen2_0_cpu_nios2_oci_xbrk</TD>
<TD >64</TD>
<TD >5</TD>
<TD >61</TD>
<TD >5</TD>
<TD >6</TD>
<TD >5</TD>
<TD >5</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|nios2_gen2_0|cpu|the_soc_nios2_gen2_0_cpu_nios2_oci|the_soc_nios2_gen2_0_cpu_nios2_oci_break</TD>
<TD >51</TD>
<TD >36</TD>
<TD >6</TD>
<TD >36</TD>
<TD >71</TD>
<TD >36</TD>
<TD >36</TD>
<TD >36</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|nios2_gen2_0|cpu|the_soc_nios2_gen2_0_cpu_nios2_oci|the_soc_nios2_gen2_0_cpu_nios2_oci_debug</TD>
<TD >50</TD>
<TD >1</TD>
<TD >30</TD>
<TD >1</TD>
<TD >7</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|nios2_gen2_0|cpu|the_soc_nios2_gen2_0_cpu_nios2_oci</TD>
<TD >176</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >69</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|nios2_gen2_0|cpu|soc_nios2_gen2_0_cpu_register_bank_b|the_altsyncram|auto_generated</TD>
<TD >44</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|nios2_gen2_0|cpu|soc_nios2_gen2_0_cpu_register_bank_b</TD>
<TD >44</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|nios2_gen2_0|cpu|soc_nios2_gen2_0_cpu_register_bank_a|the_altsyncram|auto_generated</TD>
<TD >44</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|nios2_gen2_0|cpu|soc_nios2_gen2_0_cpu_register_bank_a</TD>
<TD >44</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|nios2_gen2_0|cpu|the_soc_nios2_gen2_0_cpu_test_bench</TD>
<TD >318</TD>
<TD >3</TD>
<TD >284</TD>
<TD >3</TD>
<TD >33</TD>
<TD >3</TD>
<TD >3</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|nios2_gen2_0|cpu</TD>
<TD >149</TD>
<TD >1</TD>
<TD >29</TD>
<TD >1</TD>
<TD >131</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|nios2_gen2_0</TD>
<TD >149</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >130</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|modular_adc_0|control_internal|adc_inst|adcblock_instance</TD>
<TD >9</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >14</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|modular_adc_0|control_internal|adc_inst|decoder</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|modular_adc_0|control_internal|adc_inst</TD>
<TD >9</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >14</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|modular_adc_0|control_internal|u_control_fsm|ts_avrg_fifo|scfifo_component|auto_generated|dpfifo|wr_ptr</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|modular_adc_0|control_internal|u_control_fsm|ts_avrg_fifo|scfifo_component|auto_generated|dpfifo|rd_ptr_count</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|modular_adc_0|control_internal|u_control_fsm|ts_avrg_fifo|scfifo_component|auto_generated|dpfifo|FIFOram</TD>
<TD >28</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >12</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|modular_adc_0|control_internal|u_control_fsm|ts_avrg_fifo|scfifo_component|auto_generated|dpfifo|fifo_state|count_usedw</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|modular_adc_0|control_internal|u_control_fsm|ts_avrg_fifo|scfifo_component|auto_generated|dpfifo|fifo_state</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|modular_adc_0|control_internal|u_control_fsm|ts_avrg_fifo|scfifo_component|auto_generated|dpfifo</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >14</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|modular_adc_0|control_internal|u_control_fsm|ts_avrg_fifo|scfifo_component|auto_generated</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >14</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|modular_adc_0|control_internal|u_control_fsm|ts_avrg_fifo</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >12</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|modular_adc_0|control_internal|u_control_fsm</TD>
<TD >26</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >30</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|modular_adc_0|control_internal</TD>
<TD >13</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >21</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|modular_adc_0</TD>
<TD >12</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >21</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|led</TD>
<TD >38</TD>
<TD >22</TD>
<TD >22</TD>
<TD >22</TD>
<TD >42</TD>
<TD >22</TD>
<TD >22</TD>
<TD >22</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|key_code</TD>
<TD >38</TD>
<TD >24</TD>
<TD >24</TD>
<TD >24</TD>
<TD >40</TD>
<TD >24</TD>
<TD >24</TD>
<TD >24</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|key</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|jtag_uart_0|the_soc_jtag_uart_0_scfifo_r|rfifo|auto_generated|dpfifo|wr_ptr</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|jtag_uart_0|the_soc_jtag_uart_0_scfifo_r|rfifo|auto_generated|dpfifo|rd_ptr_count</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|jtag_uart_0|the_soc_jtag_uart_0_scfifo_r|rfifo|auto_generated|dpfifo|FIFOram</TD>
<TD >24</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|jtag_uart_0|the_soc_jtag_uart_0_scfifo_r|rfifo|auto_generated|dpfifo|fifo_state|count_usedw</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|jtag_uart_0|the_soc_jtag_uart_0_scfifo_r|rfifo|auto_generated|dpfifo|fifo_state</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|jtag_uart_0|the_soc_jtag_uart_0_scfifo_r|rfifo|auto_generated|dpfifo</TD>
<TD >13</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|jtag_uart_0|the_soc_jtag_uart_0_scfifo_r|rfifo|auto_generated</TD>
<TD >12</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|jtag_uart_0|the_soc_jtag_uart_0_scfifo_r</TD>
<TD >13</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|jtag_uart_0|the_soc_jtag_uart_0_scfifo_w|wfifo|auto_generated|dpfifo|wr_ptr</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|jtag_uart_0|the_soc_jtag_uart_0_scfifo_w|wfifo|auto_generated|dpfifo|rd_ptr_count</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|jtag_uart_0|the_soc_jtag_uart_0_scfifo_w|wfifo|auto_generated|dpfifo|FIFOram</TD>
<TD >24</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|jtag_uart_0|the_soc_jtag_uart_0_scfifo_w|wfifo|auto_generated|dpfifo|fifo_state|count_usedw</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|jtag_uart_0|the_soc_jtag_uart_0_scfifo_w|wfifo|auto_generated|dpfifo|fifo_state</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|jtag_uart_0|the_soc_jtag_uart_0_scfifo_w|wfifo|auto_generated|dpfifo</TD>
<TD >13</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|jtag_uart_0|the_soc_jtag_uart_0_scfifo_w|wfifo|auto_generated</TD>
<TD >12</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|jtag_uart_0|the_soc_jtag_uart_0_scfifo_w</TD>
<TD >12</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|jtag_uart_0</TD>
<TD >38</TD>
<TD >10</TD>
<TD >23</TD>
<TD >10</TD>
<TD >34</TD>
<TD >10</TD>
<TD >10</TD>
<TD >10</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|joystick</TD>
<TD >36</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|hex</TD>
<TD >38</TD>
<TD >8</TD>
<TD >8</TD>
<TD >8</TD>
<TD >56</TD>
<TD >8</TD>
<TD >8</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|graphics|bgROM</TD>
<TD >10</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|graphics|vga</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >24</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|graphics|vram0|altsyncram_component|auto_generated</TD>
<TD >54</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|graphics|vram0</TD>
<TD >54</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc|graphics</TD>
<TD >47</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >14</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >nois2_soc</TD>
<TD >54</TD>
<TD >12</TD>
<TD >0</TD>
<TD >12</TD>
<TD >92</TD>
<TD >12</TD>
<TD >12</TD>
<TD >12</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hex_driver5</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hex_driver4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hex_driver3</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hex_driver2</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hex_driver1</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >hex_driver0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
</TABLE>
